.footer {
    &__accordion {
        .accordion-item {
            border: none;
            background: transparent;
        }

        .accordion-button {
            background: transparent;
            box-shadow: none;
            border: none;
            padding: 0;
        }

        .accordion-button:not(.collapsed) {
            background: transparent;
            box-shadow: none;
            color: inherit;
        }

        .accordion-body {
            padding: 0;
        }

        .accordion-collapse {
            border: none;
        }
    }


}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    border-bottom: none !important;
}

.faq__button.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    border-bottom: none !important;
}

.faq__body.accordion-body {
    border-top: none !important;
}

// .footer__accordion-button {
//     span {
//         display: flex;
//         align-items: center;
//         gap: 8px;
//     }

// }