@use "../abstracts/index" as *;


.blog-premium {
    &:hover {
        .blog-premium__image {
            animation-name: pulse;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    }

    &__content {
        padding: 64px 24px 40px 24px;
        height: 236px;
        background-color: var(--white-2);
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        border-radius: 12px;

        p {
            color: var(--text-color-1);
        }
    }

    &__image {
        margin-bottom: -50px;
        transform-origin: center center;
        will-change: transform;
    }
}

.blog {
    padding-top: 33px;
    padding-bottom: 80px;

    .heading {
        margin-bottom: 47px;
    }
}

.blog-premium__image {
    img {
        width: 100px;
        height: 100px;
    }
}

.premium-slider {
    overflow: hidden;
}

.premium-slider {
    .swiper-slide {
        height: auto;
    }
}

.premium-slider {
    .blog-premium {
        height: 100%;
    }
}



.premium-slider-wrap {
    margin-bottom: 40px;
}

@media (min-width: 1200px) {
    .premium-slider-wrap {
        margin-bottom: 0;
    }
}


@media (max-width: 991px) {
    .blog {
        .blog-premium {
            margin-bottom: 20px;
        }

        .col-md-4 {
            &:last-child {
                .blog-premium {
                    margin-bottom: 0;
                }
            }
        }
    }

}